.App {
    text-align: center;
    /* center the content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
  }
  
  .header { 
    /* push 10 vh to down */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: top;
    justify-content: top;
    /* make the font size dynamic */
    font-size: calc(10px + 2vmin);
    color: #3d4557;
  }
  
  /* make a shadow box in the center of the screen */
  .box {
    /* put it in the center */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* make the box size adaptive consodering the screen size */
    width: 30vw;
    height: 70vh;  
    margin: auto;
    /* shadow-xl mt-32 p-10 text-gray-700 bg-white rounded-lg */
    box-shadow: 0 0 10px 5px #dadada;
    background-color: #f1f1f1;
    border: 1px solid #dedede;
    border-radius: 10px;
    font-size: calc(10px );
    color: #121315;
  }
  
  
  /* make a column where the buttons are aligned in the center in the same column */
  .Auth_button {
    /* click on the button */
    cursor: pointer;
    /* put the content in the left of the button */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 6vh;
    margin-top: 4vh;
    /* make the width adaptative because can be usable by phone or computer */
    width: 20vw;
    /* shadow-md mt-4 p-4 text-gray-700 bg-white rounded-lg */
    background-color: #7695dd;
    color: #f1f1f1;
    border: 3px solid #dedede;
    border-radius: 10px;
    font-size: calc(5px + 2vmin);
    color: #ffffff;
  }
  
  .LoginRegisto{
    display: flex;
    /* give some space between the buttons */


  }

  .Login_button {
    /* click on the button */
    cursor: pointer;
    /* put the content in the left of the button */
    display: flex;
    flex: 1;
    align-items: center;
    /* center te content */
    justify-content: center;
    height: 6vh;
    margin-top: 4vh;
    /* make the width adaptative because can be usable by phone or computer */
    width: 14vw;
    /* shadow-md mt-4 p-4 text-gray-700 bg-white rounded-lg */
    background-color: #7695dd;
    color: #f1f1f1;
    border: 3px solid #dedede;
    border-radius: 10px;
    font-size: calc(5px + 2vmin);
    color: #ffffff;
    position: relative;
    width: 9.8vw;
    
  }
  .Registo{
    /* click on the button */
    cursor: pointer;
    /* put the content in the left of the button */
    display: flex;
    flex: 1;
    align-items: center;
    /* center te content */
    justify-content: center;
    height: 6vh;
    margin-top: 4vh;
    /* make the width adaptative because can be usable by phone or computer */
    width: 14vw;
    /* shadow-md mt-4 p-4 text-gray-700 bg-white rounded-lg */
    background-color: #7695dd;
    color: #f1f1f1;
    border: 3px solid #dedede;
    border-radius: 10px;
    font-size: calc(5px + 2vmin);
    color: #ffffff;
    position: relative;
    width: 9.8vw;

  }

  .google {
    position: relative;
    width: 48px;
    height: 48px;
    /* put it in the left */
    margin-left: 10%;
    margin-right: 13%;
  }
  
  .twitter{
    position: relative;
    width: 48px;
    height: 48px;
    /* put it in the left */
    margin-left: 10%;
    margin-right: 13%;
  }
  .twitter_auth{
    /* remove the underline */
    text-decoration: none;
  }

  input[type=text], select {
    width: 65%;
    height: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 65%;
    height: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  
  @media (max-width: 768px) {
    .App {
      padding-top: 10vh;
    }
    .Registo{
      width: 23vw;
      font-size: 4vw;
    }
  
  } 
  
  
  
  