<script type="text/javascript">
    function fetchAdData(id) {
        fetch('http://localhost:5000/v1/ads', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ ad_id: id })
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error(error));
    }
    document.body.appendChild
</script>

<div class="ad">
    <img src="{{ ad_creative }}" alt="{{ ad_description }}" onclick="fetchAdData({{ ad_id }})" />
</div>
