aniso8601==9.0.1
ansible-core==2.14.1
appdirs==1.4.4
beautifulsoup4==4.11.2
decorator==4.4.2
exceptiongroup==1.1.0
Flask==2.2.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
flask-swagger-ui==4.11.1
imageio==2.22.4
imageio-ffmpeg==0.4.7
iniconfig==2.0.0
instaloader==4.9.5
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.2
MarkupSafe==2.1.2
moviepy==1.0.3
packaging==22.0
pluggy==1.0.0
proglog==0.1.10
py==1.11.0
pygame==2.1.2
PyPDF2==2.12.1
pyshark==0.5.3
pytest==7.2.1
pytube==12.1.0
resolvelib==0.5.4
soupsieve==2.3.2.post1
tomli==2.0.1
tqdm==4.64.1
websockets==10.4
Werkzeug==2.2.2
